a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* BODY */
body {
  background-color: var(--fondo);
  color: var(--color-texto);
}

/* HEADER*/
header {
  height: 26.36dvh;
  user-select: none;
}

.fondoEncabezado {
  height: 79.3%;
}
.fondoEncabezado p {
  font-size: 0.9em;
}

.logo {
  width: 7.4em;
  position: absolute;
  top: 28px;
  right: 8px;
}

.navbar {
  background-color: var(--color-primario);
  height: 21%;
  border-top: 1px solid var(--nav-borde);
  border-bottom: 1px solid var(--nav-borde);
}

.navbar-toggler:focus {
  border: none;
  box-shadow: var(--nav-focus);
}

.navbar-toggler i {
  color: var(--color-nav-texto);
  opacity: 0.9;
  font-size: 1.2em;
}
.navbar-toggler i:hover {
  opacity: 1;
}

.dropdown button {
  /*boton desplegable del tema*/
  background-color: var(--color-primario) !important;
  border-radius: 8px;
}

.dropdown button:focus {
  box-shadow: var(--nav-focus);
}

.dropdown button:hover i {
  opacity: 1;
}

.dropdown button i {
  /*boton desplegable del tema*/
  font-size: 1.3em;
  color: var(--color-nav-texto);
  opacity: 0.9;
}

.dropdown-toggle::after {
  width: 10px;
  color: var(--color-nav-texto);
  opacity: 0.9;
}

.dropdown-menu[data-bs-popper] {
  left: -13px;
  min-width: 1em;
  top: 93%;
  background-color: var(--color-primario);
  width: 5.5em;
}

.dropdown-item {
  color: var(--color-nav-texto);
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown .active {
  background-color: var(--borde);
  color: var(--color-nav-texto);
}

.offcanvas {
  /*Es el contenedor del nav desplegable*/
  width: 13em !important;
  background-color: var(--color-primario);
  color: var(--color-nav-texto);
  transition: 0.5s ease-in-out !important;
}
.offcanvas button {
  opacity: 1;
}
.offcanvas a {
  color: var(--color-nav-texto);
}

.nav-link.active,
.nav-link:hover {
  color: var(--color-nav-link-active) !important;
}

/* MAIN */

/* SECTION: CARRUSEL */
main section:first-child {
  user-select: none;
}

.carousel {
  height: var(--carousel-height);
  background-image: var(--fondo-imagen);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-item img {
  filter: var(--brillo-img-carousel);
}

/*SECTION: CONTACTANOS*/
.contactanos h2 {
  text-align: center;
}

.contactanos ul li i {
  font-size: 2em;
  color: var(--borde);
}

.contactanos ul li:last-child i {
  font-size: 2.3em;
}

.link {
  color: var(--color-texto);
}

.link:hover {
  color: var(--borde);
  font-weight: 500;
}

.divHorarios {
  width: calc(100% - 2.3em);
}

i {
  font-style: normal;
}

/*SECTION: DEJANOS TU COMENTARIO*/
form {
  height: 17em;
}

.msj_error {
  height: 2em;
  font-size: 0.9em;
  color: var(--color-msjerror);
}

form textarea {
  height: 13.1em;
  color: var(--color-texto);
  border-color: var(--textarea-borde);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: var(--relleno);
  resize: none;
  caret-color: var(--borde);
}

form textarea:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--textarea-focus);
}

form textarea:focus + .msj_error {
  display: block;
}

form input {
  height: 2.5em;
  border: 1px solid var(--borde);
  border-radius: 8px;
  color: var(--borde);
  background: transparent;
}
form input:hover {
  background-color: var(--borde);
  color: var(--fondo);
  box-shadow: 0 0 5px var(--borde);
}

form input[disabled]:hover {
  background-color: transparent;
  color: var(--borde);
  box-shadow: 0 0 0;
}

/*SECTION: COMENTARIOS*/
.divComentarios div {
  border-color: var(--borde) !important;
  background-color: var(--relleno);
  font-size: 0.9em;
  min-height: 10em;
}

.divComentarios p {
  text-align: justify;
  word-wrap: break-word;
  box-sizing: border-box;
}

.divFlechas {
  margin-top: 0;
}

.divFlechas i {
  color: var(--arrow);
  font-size: 2.5em;
  cursor: pointer;
  line-height: 1;
  height: 1em;
}

.divFlechas i:hover {
  color: var(--color-primario);
}

/*FOOTER*/
footer img {
  width: 1.6em;
}
footer {
  color: var(--firma-autor);
}

/*BREAKPOINT*/
@media screen and (min-width: 992px) {
  .contactanos h2 {
    text-align: start;
  }
}

/*MEDIAQUERYS HEIGHT*/

@media screen and (min-height: 700px) {
  :root {
    --carousel-height: 76.64dvh;
  }

  header {
    height: 23.36dvh; /*hacer una var*/
  }
  .dropdown-menu[data-bs-popper] {
    top: 95%;
  }

  .divComentarios div {
    font-size: 0.93em;
  }
  .divFlechas {
    margin-top: 0.5em;
  }
}

@media screen and (min-height: 800px) {
  :root {
    --carousel-height: 78.64dvh;
  }

  header {
    height: 21.36dvh; /*hacer una var*/
  }
  .dropdown-menu[data-bs-popper] {
    top: 99%;
  }
  .divComentarios div {
    font-size: 1em;
  }
}

@media screen and (min-height: 900px) {
  .dropdown-menu[data-bs-popper] {
    top: 107%;
  }
}
