/* VARIABLES*/
:root {
  --carousel-height: 73.64dvh;
  --nav-focus: 0 0 0 0.2rem rgba(255, 255, 255, 0.379);
  --firma-autor: #a1a1a1;
  --color-msjerror: #3b82f6;
  --color-spinner: #ffffff;
  --bg-spinner: #212529;
}

:root[data-theme="dark"] {
  --color-primario: #2b3035;
  --color-texto: #ffffff;
  --color-nav-texto: var(--color-texto);
  --color-nav-link-active: var(--firma-autor);
  --fondo: #212529;
  --nav-borde: #495057;
  --borde: var(--firma-autor);
  --textarea-borde: var(--firma-autor);
  --textarea-focus: #a1a1a159;
  --relleno: var(--color-primario);
  --fondo-imagen: url(../img/fondos/night1.jpg);
  --brillo-img-carousel: brightness(80%);
  --arrow: var(--firma-autor);
  --opacidad: 0.9;
}

:root[data-theme="light"] {
  --color-primario: #34b091;
  --color-texto: #212529;
  --color-nav-texto: #f2fbf8;
  --color-nav-link-active: var(--color-texto);
  --fondo: var(--color-nav-texto);
  --nav-borde: none;
  --borde: #237e69;
  --textarea-borde: #237e6982;
  --textarea-focus: rgba(35, 126, 105, 0.25);
  --relleno: #d4f3e94d;
  --fondo-imagen: url(../img/fondos/light.jpg);
  --brillo-img-carousel: brightness(100%);
  --arrow: var(--borde);

  --color-primariov2: #48b99b;
  --opacidad: 1;
}
